<header class="flex-M">
  <a routerLink="/all">
    <img class="logo" src="assets/favicon/favicon.ico">
  </a>
  <div class="jp title">
    <a routerLink="/all">きらファン　サポート</a>
  </div>
  <div class="tools flex-M flex-C">
    <fa-icon class="btn" [icon]="faRotateRight" (click)="refresh()"></fa-icon>
    <fa-icon class="switch" [class.on]="help" [icon]="faCircleQuestion" (click)="toggleHelp()"></fa-icon>
    <fa-icon class="btn hidden" [icon]="faGear"></fa-icon>
  </div>
</header>
<app-help class="popup flex-C" [class.hidden]="!help" (click)="toggleHelp()"></app-help>
<section [class.blur]="help">
  <router-outlet></router-outlet>
</section>
<!--app-messages></app-messages-->
