<header class="flex-M">
  <a routerLink="/all">
    <img class="logo" src="assets/favicon/favicon.ico">
  </a>
  <div class="jp title">
    <a routerLink="/all">
      {{ title }}
    </a>
  </div>
  <span style="font-family: monospace;">
    Share your support by sending a friend request to 'NYCJCMHXV6'.
  </span>
  <div class="tools flex-M">
    <fa-icon [icon]="faRotateRight"></fa-icon>
    <fa-icon [icon]="faCircleQuestion"></fa-icon>
    <fa-icon [icon]="faGear"></fa-icon>
  </div>
</header>
<section>
  <router-outlet></router-outlet>
</section>
<!--app-messages></app-messages-->
