$header-height: 54px

header
  height: calc($header-height * 0.75)
  padding: calc($header-height * 0.125) calc($header-height * 0.125)
  top: 0px
  margin-top: 0px
  left: 0px
  right: 0px
  z-index: 5
  position: fixed
  overflow: hidden
  background-color: wheat
a
  display: contents
.logo
  height: 100%
.title
  color: #369
  font-size: calc($header-height * 0.5)
  flex-shrink: 0
  margin: 0px 8px
  text-decoration: underline
section
  height: calc(100% - $header-height)
  padding-top: calc($header-height + 5px)
  margin: 5px
span
  align-self: flex-end
