/* You can add global styles to this file, and also import other style files */
body
  font-family: Arial, Helvetica, sans-serif
.jp
  font-family: 'Noto Sans JP', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', Arial, Helvetica, sans-serif
  
.flex-M
  display: flex
  flex-direction: row
.flex-E
  display: flex
  flex-direction: column
.flex-Z
  display: flex
  flex-direction: row
  flex-wrap: wrap
.flex-N
  display: flex
  flex-direction: column
  flex-wrap: wrap

.border
  border: solid 1px black